[Unit]
Description=Fixes WSL time drift
Wants=wsltimefixer.timer

[Service]
Type=oneshot
ExecStart=/usr/sbin/ntpdate  pool.ntp.org

[Install]
WantedBy=multi-user.target