[Unit]
Description=Run wsltimefixer every 15 minutes
Requires=wsltimefixer.service

[Timer]
Unit=wsltimefixer.service
OnCalendar=*:0/15

[Install]
WantedBy=timers.target
