[Unit]
Description=Run wsltimefixer every minute
Requires=wsltimefixer.service

[Timer]
Unit=wsltimefixer.service
OnCalendar=*:0/15

[Install]
WantedBy=timers.target